.forgotForm-display {
  margin-top: 10%;
  border: 8px solid #2f2e2e;
  border-radius: 4px;
}

.forgotFormClos {
  height: 0;
  overflow: hidden;
}

.forgotForm {
  grid-template-columns: 1fr;
  width: 400px;
  & * {
    width: 100%;
  }
}

.text-in-forget-form {
  text-align: center;
}

.visible-text {
  display: block;
  text-align: center;
}

.hidden-text {
  display: none;
}

@media (max-width: 550px) {
  .forgotForm-display {
    width: 300px;
  }

  .forgotForm {
    width: 260px;
  }

  .visible-text {
    font-size: 13px;
  }
}
